/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

/* Body */
body {
    background-color: #f4f8fc;
    color: #333;
}

/* Banner with image */
.banner {
    background: url('images/banner.png') no-repeat center center/cover;
    height: 450px;
    position: relative;
}

/* Optional overlay for readability */
.banner-overlay {
    background-color: rgba(21, 101, 192, 0.7); /* blue overlay */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Layout */
.container {
    display: flex;
    min-height: 80vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    /* All the blue shades - #0a1930 , #1f4068 and #4a76c2, #ffffff, #e0e0e0, #00ffff, #00bfff*/
    background-color: #0a1930;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #cfe8ff;
}

/* Content */
.content {
    flex: 1;
    padding: 30px;
    background-color: white;
}

.content h2 {
    color: #1565c0;
    margin-bottom: 15px;
}

/* Footer */
.footer {
    background-color: #0a1930;
    color: white;
    text-align: center;
    padding: 15px;
}